<!DOCTYPE html>
  <html ng-app="ToDo">
    <head lang = "en">
      <meta charset= utf-8/>
      <title> TODO List App </title>
      <link rel= "stylesheet" type="text/css" href = "css/materialize.css">
      <link rel="stylesheet" type="text/css" href="css/todo.css">
      </head>
        <body>
          <div>
            <div class="container ">
              <div ng-controller="ToDoCtrl">
                <div class="row">
                  <div class="subtitle">
                    <h3 class = "center-align">Todo List Manager</h3>
                      <div>
                      <p class = "center-align"><i style ="font-size: 25px">every second counts...</i></p>
                      </div>
                  </div>
                  <div class="col s6" id="plans">
                    <div>
                      <i class="large mdi-notification-event-note"></i><h5 id="Title">Your Plans?</h5>
                        <div class="grid-example col s12 m6" align="left"> 
                          <input type = "text" id = "description" ng-model="newTask" placeholder="Got to do">
                            <div class= "section ">
                              <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                              <label for="dueDate">Due Date</label>
                            </div>
                          </div>
                          <div class="grid-example col s12 m6" align="left"> 
                            <div class="input-field col s12" >
                              <select ng-model="opt" ng-options="priority.name for priority in priorities" ng-change = "change()"> 
                                <option value="" disabled selected >Choose your option</option>
                                  <!--<option ng-model = "{{name.priority}}" ng-repeat="priority in priorities"></option>-->
                              </select>
                            </div>
                          </div>
                          <div class="grid-example col s12 m12">
                            <a class="waves-effect waves-light btn add" ng-click="addTask()">Add Task</a> 
                          </div>
                    </div>
                  </div>
                  <div class="col s6 ttd" id="todo">
                      <i class="large mdi-action-note-add"></i><h5 id="Title">Things to do</h5>
                        <form action="#" >
                        
                          
                            <p ng-repeat= "todo in todoList">
                              <input type="checkbox" id="{{todo.text}}" class="qw" ng-model="todo.done" />
                                <label for="{{todo.text}}" class="susan">{{todo.text}}</label> <strong class = "taskDate done-{{todo.done}}" style ="font-size: 15px"> on {{todo.date|date:'mediumDate'}} | {{todo.priority}}</strong>
                                 
                            </p>
                          
                        </form>  
                          <a class="waves-effect waves-light btn delete" ng-click="delete()">Delete Selected Task</a>
                    
                  </div>
                </div>
              </div>       
            </div>        
          </div>
          <script src="angular.js"></script>
          <script src="app.js"></script>
          <script src="materialize.js"></script>
        </body>
  </html>